# ------------------------------------------------------------------------
## Exercise 1:

Within your `codeup-data-science` directory, create a new repo named `spark-exercises`. This will be where you do your work for this module. Create a repository on GitHub with the same name, and link your local repository to GitHub.

Save this work in your `spark-exercises` repo. Then add, commit, and push your changes.

Create a jupyter notebook or python script named `spark101` for this exercise.

Create a spark data frame that contains your favorite programming languages.

- Create a dataframe with one column named `language`
> Hint: Start with a pandas dataframe. Maybe use a dictionary?
- View the schema of the dataframe
- Output the shape of the dataframe
- Show the first 5 records in the dataframe

# ------------------------------------------------------------------------

In [1]:
import pyspark
import pandas as pd
import numpy as np
spark = pyspark.sql.SparkSession.builder.getOrCreate()

In [2]:
pandas_df= pd.read_json('repo_readmes_10_feb_am.json')
pandas_df = pandas_df.drop(columns = ['repo','readme_contents'])
pandas_df.head()

     language
0          C#
1  JavaScript
2         C++
3  JavaScript
4        None

In [3]:
df = spark.createDataFrame(pandas_df)

In [4]:
df.show(5)

+----------+
|  language|
+----------+
|        C#|
|JavaScript|
|       C++|
|JavaScript|
|      null|
+----------+
only showing top 5 rows

In [5]:
df.printSchema()

root
 |-- language: string (nullable = true)

In [6]:
print("DataFrame shape: ", df.count(), " x ", len(df.columns))

DataFrame shape:  180  x  1

# ------------------------------------------------------------------------
## Exercise 2:

Load the `mpg` dataset as a spark dataframe.

a. Create 1 column of output that contains a message like the one below for each record:

    The 1999 audi a4 has a 4 cylinder engine.

> Hint: You will need to concatenate values that already exist in the data with string literals

b. Transform the trans column so that it only contains either manual or auto.

> Hint: Consider spark string methods and `when().otherwise()` chaining
# ------------------------------------------------------------------------

In [7]:
from pyspark.sql.functions import concat, sum, avg, min, max, count, mean
from pyspark.sql.functions import lit

## a. Create 1 column of output that contains a message like the one below for each record:

    The 1999 audi a4 has a 4 cylinder engine.
    
    > Hint: You will need to concatenate values that already exist in the data with string literals

In [8]:
from pydataset import data

mpg = spark.createDataFrame(data("mpg"))
mpg.show(5)

+------------+-----+-----+----+---+----------+---+---+---+---+-------+
|manufacturer|model|displ|year|cyl|     trans|drv|cty|hwy| fl|  class|
+------------+-----+-----+----+---+----------+---+---+---+---+-------+
|        audi|   a4|  1.8|1999|  4|  auto(l5)|  f| 18| 29|  p|compact|
|        audi|   a4|  1.8|1999|  4|manual(m5)|  f| 21| 29|  p|compact|
|        audi|   a4|  2.0|2008|  4|manual(m6)|  f| 20| 31|  p|compact|
|        audi|   a4|  2.0|2008|  4|  auto(av)|  f| 21| 30|  p|compact|
|        audi|   a4|  2.8|1999|  6|  auto(l5)|  f| 16| 26|  p|compact|
+------------+-----+-----+----+---+----------+---+---+---+---+-------+
only showing top 5 rows

In [9]:
# mpg.select(concat(mpg.cyl, lit(" cylinders"))).show(5)

In [10]:
mpg.select(
    concat(
        lit('The '), 
        mpg.year, 
        lit(' '), 
        mpg.manufacturer,
        lit(' '), 
        mpg.model, 
        lit(' has a '), 
        mpg.cyl, 
        lit(' cylinder engine'))
).show(20,False)

+-----------------------------------------------------------------------------+
|concat(The , year,  , manufacturer,  , model,  has a , cyl,  cylinder engine)|
+-----------------------------------------------------------------------------+
|The 1999 audi a4 has a 4 cylinder engine                                     |
|The 1999 audi a4 has a 4 cylinder engine                                     |
|The 2008 audi a4 has a 4 cylinder engine                                     |
|The 2008 audi a4 has a 4 cylinder engine                                     |
|The 1999 audi a4 has a 6 cylinder engine                                     |
|The 1999 audi a4 has a 6 cylinder engine                                     |
|The 2008 audi a4 has a 6 cylinder engine                                     |
|The 1999 audi a4 quattro has a 4 cylinder engine                             |
|The 1999 audi a4 quattro has a 4 cylinder engine                             |
|The 2008 audi a4 quattro has a 4 cylinder engine                             |
|The 2008 audi a4 quattro has a 4 cylinder engine                             |
|The 1999 audi a4 quattro has a 6 cylinder engine                             |
|The 1999 audi a4 quattro has a 6 cylinder engine                             |
|The 2008 audi a4 quattro has a 6 cylinder engine                             |
|The 2008 audi a4 quattro has a 6 cylinder engine                             |
|The 1999 audi a6 quattro has a 6 cylinder engine                             |
|The 2008 audi a6 quattro has a 6 cylinder engine                             |
|The 2008 audi a6 quattro has a 8 cylinder engine                             |
|The 2008 chevrolet c1500 suburban 2wd has a 8 cylinder engine                |
|The 2008 chevrolet c1500 suburban 2wd has a 8 cylinder engine                |
+-----------------------------------------------------------------------------+
only showing top 20 rows

## b. Transform the trans column so that it only contains either manual or auto.

> Hint: Consider spark string methods and `when().otherwise()` chaining

In [11]:
from pyspark.sql.functions import regexp_extract, regexp_replace
from pyspark.sql.functions import when

In [12]:
mpg.createOrReplaceTempView("mpg")

In [13]:
# mpg.where(mpg.cyl == 4).where(mpg["class"] == "subcompact").show()
# vs
# mpg.filter(mpg.cyl == 4).where(mpg["class"] == "subcompact").show()

In [14]:
mpg.show(2)

+------------+-----+-----+----+---+----------+---+---+---+---+-------+
|manufacturer|model|displ|year|cyl|     trans|drv|cty|hwy| fl|  class|
+------------+-----+-----+----+---+----------+---+---+---+---+-------+
|        audi|   a4|  1.8|1999|  4|  auto(l5)|  f| 18| 29|  p|compact|
|        audi|   a4|  1.8|1999|  4|manual(m5)|  f| 21| 29|  p|compact|
+------------+-----+-----+----+---+----------+---+---+---+---+-------+
only showing top 2 rows

In [15]:
spark.sql(
    """
SELECT trans
FROM mpg
"""
).show(5)

+----------+
|     trans|
+----------+
|  auto(l5)|
|manual(m5)|
|manual(m6)|
|  auto(av)|
|  auto(l5)|
+----------+
only showing top 5 rows

In [16]:
mpg.select(
    'trans',
    when(regexp_extract("trans", r"^([a])", 1) == "auto", "auto") 
    # the problem here goes deeper than the regex. see correct answer below
    .otherwise("manual")
).show(12)

+----------+-----------------------------------------------------------------------------+
|     trans|CASE WHEN (regexp_extract(trans, ^([a]), 1) = auto) THEN auto ELSE manual END|
+----------+-----------------------------------------------------------------------------+
|  auto(l5)|                                                                       manual|
|manual(m5)|                                                                       manual|
|manual(m6)|                                                                       manual|
|  auto(av)|                                                                       manual|
|  auto(l5)|                                                                       manual|
|manual(m5)|                                                                       manual|
|  auto(av)|                                                                       manual|
|manual(m5)|                                                                       manual|
|  auto(l5)|                                                                       manual|
|manual(m6)|                                                                       manual|
|  auto(s6)|                                                                       manual|
|  auto(l5)|                                                                       manual|
+----------+-----------------------------------------------------------------------------+
only showing top 12 rows

In [17]:
# multiple ways to do this
mpg.select(
    'trans',
    regexp_extract("trans", r"^(\w+)", 1).alias("regexp_extract"),
    regexp_replace("trans", r"\(.+$", "").alias("regexp_replace"),
    when(
        mpg.trans.like("a%"), "auto")
    .otherwise("manual").alias("when + like")
).show()

+----------+--------------+--------------+-----------+
|     trans|regexp_extract|regexp_replace|when + like|
+----------+--------------+--------------+-----------+
|  auto(l5)|          auto|          auto|       auto|
|manual(m5)|        manual|        manual|     manual|
|manual(m6)|        manual|        manual|     manual|
|  auto(av)|          auto|          auto|       auto|
|  auto(l5)|          auto|          auto|       auto|
|manual(m5)|        manual|        manual|     manual|
|  auto(av)|          auto|          auto|       auto|
|manual(m5)|        manual|        manual|     manual|
|  auto(l5)|          auto|          auto|       auto|
|manual(m6)|        manual|        manual|     manual|
|  auto(s6)|          auto|          auto|       auto|
|  auto(l5)|          auto|          auto|       auto|
|manual(m5)|        manual|        manual|     manual|
|  auto(s6)|          auto|          auto|       auto|
|manual(m6)|        manual|        manual|     manual|
|  auto(l5)|          auto|          auto|       auto|
|  auto(s6)|          auto|          auto|       auto|
|  auto(s6)|          auto|          auto|       auto|
|  auto(l4)|          auto|          auto|       auto|
|  auto(l4)|          auto|          auto|       auto|
+----------+--------------+--------------+-----------+
only showing top 20 rows

# ------------------------------------------------------------------------
## Exercise 3: 

Load the `tips` dataset as a spark dataframe.

a. What percentage of observations are smokers?
> Hint: `.groupBy()` and `.withColumn()` are useful functions here

b. Create a column that contains the tip percentage
> Hint: `.withColumn()` is useful here

c. Calculate the average tip percentage for each combination of sex and smoker.
> Hint: Chain additional functions off the answer to part b 

# ------------------------------------------------------------------------

In [18]:
from pydataset import data
import pydataset
tips = spark.createDataFrame(pydataset.data("tips"))

In [19]:
tips.show(5)

+----------+----+------+------+---+------+----+
|total_bill| tip|   sex|smoker|day|  time|size|
+----------+----+------+------+---+------+----+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|
+----------+----+------+------+---+------+----+
only showing top 5 rows

### a. What percentage of observations are smokers?
> Hint: `.groupBy()` and `.withColumn()` are useful functions here

In [20]:
tips.groupBy('smoker').count().show()

+------+-----+
|smoker|count|
+------+-----+
|    No|  151|
|   Yes|   93|
+------+-----+

In [21]:
from pyspark.sql.functions import *

In [22]:
tips.groupBy('smoker').count().withColumn('percent', 
                                          round((col('count')/tips.count()*100), 0)).show()

+------+-----+-------+
|smoker|count|percent|
+------+-----+-------+
|    No|  151|   62.0|
|   Yes|   93|   38.0|
+------+-----+-------+

In [23]:
tips.show()

+----------+----+------+------+---+------+----+
|total_bill| tip|   sex|smoker|day|  time|size|
+----------+----+------+------+---+------+----+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|
|     25.29|4.71|  Male|    No|Sun|Dinner|   4|
|      8.77| 2.0|  Male|    No|Sun|Dinner|   2|
|     26.88|3.12|  Male|    No|Sun|Dinner|   4|
|     15.04|1.96|  Male|    No|Sun|Dinner|   2|
|     14.78|3.23|  Male|    No|Sun|Dinner|   2|
|     10.27|1.71|  Male|    No|Sun|Dinner|   2|
|     35.26| 5.0|Female|    No|Sun|Dinner|   4|
|     15.42|1.57|  Male|    No|Sun|Dinner|   2|
|     18.43| 3.0|  Male|    No|Sun|Dinner|   4|
|     14.83|3.02|Female|    No|Sun|Dinner|   2|
|     21.58|3.92|  Male|    No|Sun|Dinner|   2|
|     10.33|1.67|Female|    No|Sun|Dinner|   3|
|     16.29|3.71|  Male|    No|Sun|Dinner|   3|
|     16.97| 3.5|Female|    No|Sun|Dinner|   3|
|     20.65|3.35|  Male|    No|Sat|Dinner|   3|
+----------+----+------+------+---+------+----+
only showing top 20 rows

### b. Create a column that contains the tip percentage
> Hint: `.withColumn()` is useful here

In [24]:
# tips.withColumn('tip_percentage', tips.tip/tips.total_bill).show()

In [25]:
tips.withColumn("tip_percentage", col("tip") / col("total_bill")).show()

+----------+----+------+------+---+------+----+-------------------+
|total_bill| tip|   sex|smoker|day|  time|size|     tip_percentage|
+----------+----+------+------+---+------+----+-------------------+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|0.05944673337257211|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|0.16054158607350097|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|0.16658733936220846|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2| 0.1397804054054054|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|0.14680764538430255|
|     25.29|4.71|  Male|    No|Sun|Dinner|   4|0.18623962040332148|
|      8.77| 2.0|  Male|    No|Sun|Dinner|   2|0.22805017103762829|
|     26.88|3.12|  Male|    No|Sun|Dinner|   4|0.11607142857142858|
|     15.04|1.96|  Male|    No|Sun|Dinner|   2|0.13031914893617022|
|     14.78|3.23|  Male|    No|Sun|Dinner|   2| 0.2185385656292287|
|     10.27|1.71|  Male|    No|Sun|Dinner|   2| 0.1665043816942551|
|     35.26| 5.0|Female|    No|Sun|Dinner|   4|0.14180374361883155|
|     15.42|1.57|  Male|    No|Sun|Dinner|   2|0.10181582360570687|
|     18.43| 3.0|  Male|    No|Sun|Dinner|   4|0.16277807921866522|
|     14.83|3.02|Female|    No|Sun|Dinner|   2|0.20364126770060686|
|     21.58|3.92|  Male|    No|Sun|Dinner|   2|0.18164967562557924|
|     10.33|1.67|Female|    No|Sun|Dinner|   3| 0.1616650532429816|
|     16.29|3.71|  Male|    No|Sun|Dinner|   3|0.22774708410067526|
|     16.97| 3.5|Female|    No|Sun|Dinner|   3|0.20624631703005306|
|     20.65|3.35|  Male|    No|Sat|Dinner|   3|0.16222760290556903|
+----------+----+------+------+---+------+----+-------------------+
only showing top 20 rows

### c. Calculate the average tip percentage for each combination of sex and smoker.
> Hint: Chain additional functions off the answer to part b

In [26]:
# tips.withColumn("tip_percentage", col("tip") / col("total_bill")) \
# .groupby('sex').pivot('smoker').agg(mean('tip_percentage')).show()

In [27]:
tips.withColumn("tip_percentage", col("tip") / col("total_bill")). \
groupby("sex").pivot("smoker").agg(mean("tip_percentage")).show()
# tip % for sex and smoker status

+------+------------------+-------------------+
|   sex|                No|                Yes|
+------+------------------+-------------------+
|Female|0.1569209707691836|0.18215035269941032|
|  Male|0.1606687151291298|0.15277117520248512|
+------+------------------+-------------------+

# ------------------------------------------------------------------------
## Exercise 4:

Use the seattle weather dataset referenced in the lesson to answer the questions below.

- Convert the temperatures to fahrenheit.
- Which month has the most rain, on average?
- Which year was the windiest?
- What is the most frequent type of weather in January?
- What is the average high and low temperature on sunny days in July in 2013 and 2014?
- What percentage of days were rainy in q3 of 2015?
- For each year, find what percentage of days it rained (had non-zero precipitation).

In [28]:
from vega_datasets import data

weather = data.seattle_weather().assign(date=lambda df: df.date.astype(str))
weather = spark.createDataFrame(weather)
weather.show(6)

+----------+-------------+--------+--------+----+-------+
|      date|precipitation|temp_max|temp_min|wind|weather|
+----------+-------------+--------+--------+----+-------+
|2012-01-01|          0.0|    12.8|     5.0| 4.7|drizzle|
|2012-01-02|         10.9|    10.6|     2.8| 4.5|   rain|
|2012-01-03|          0.8|    11.7|     7.2| 2.3|   rain|
|2012-01-04|         20.3|    12.2|     5.6| 4.7|   rain|
|2012-01-05|          1.3|     8.9|     2.8| 6.1|   rain|
|2012-01-06|          2.5|     4.4|     2.2| 2.2|   rain|
+----------+-------------+--------+--------+----+-------+
only showing top 6 rows

In [29]:
print("DataFrame shape: ", weather.count(), " x ", len(weather.columns))

DataFrame shape:  1461  x  6

### - Convert the temperatures to fahrenheit.

In [30]:
(
weather.withColumn('temp_max_farenheit', ((weather.temp_max * 9)/5 +32))
.withColumn('temp_min_farenheit', ((weather.temp_min * 9)/5 +32))
.drop(weather.temp_max)
.drop(weather.temp_min)    
.show(3)
)

# you could have named the new column the same name, overwriting it if you had preferred

+----------+-------------+----+-------+------------------+------------------+
|      date|precipitation|wind|weather|temp_max_farenheit|temp_min_farenheit|
+----------+-------------+----+-------+------------------+------------------+
|2012-01-01|          0.0| 4.7|drizzle|             55.04|              41.0|
|2012-01-02|         10.9| 4.5|   rain|             51.08|             37.04|
|2012-01-03|          0.8| 2.3|   rain|             53.06|             44.96|
+----------+-------------+----+-------+------------------+------------------+
only showing top 3 rows

### - Which month has the most rain, on average?

In [31]:
from pyspark.sql.functions import month, year, quarter
from pyspark.sql.functions import asc, desc

In [32]:
mpg.createOrReplaceTempView("weather")
# the idea here was to register for sql usage. didn't follow throough

In [67]:
(
weather
.withColumn('month',month('date'))
.groupBy('month')
.agg(expr("MEAN(precipitation) AS avg_precip"))
.sort(desc('avg_precip')).limit(1)
# .select('avg_precip')
# .orderBy(F.desc('avg_precip')).limit(1)
.show()
)

# finally got it
# ACTUALLY.... i got the average daily precip, not monthly

+-----+-----------------+
|month|       avg_precip|
+-----+-----------------+
|   11|5.354166666666667|
+-----+-----------------+

In [65]:
# adam solution:

row = (
weather
.withColumn('month',month('date'))
.withColumn('year',year('date'))
.groupBy('month','year')
.agg(sum("precipitation").alias('total_monthly_precip'))
.groupBy('month')
.agg(mean('total_monthly_precip').alias('avg_monthly_rain'))
.sort(col('avg_monthly_rain').desc())
# .select('avg_precip')
# .orderBy(F.desc('avg_precip')).limit(1)
.first()
)
row

Row(month=11, avg_monthly_rain=160.625)

In [66]:
row.avg_monthly_rain

160.625

### - Which year was the windiest?

In [34]:
weather.select(mean('wind')).show()
# overall average wind

+------------------+
|         avg(wind)|
+------------------+
|3.2411362080766604|
+------------------+

In [68]:
(
weather
.withColumn('year',year('date'))
.groupBy('year')
.agg(mean('wind').alias('avg_wind'))
# .agg(expr("max(wind)"))
.sort(desc('avg_wind')).limit(1)
# .select('avg_precip')
# .orderBy(F.desc('avg_precip')).limit(1)
.show()
)


# nicely done
# NOT

+----+-----------------+
|year|         avg_wind|
+----+-----------------+
|2012|3.400819672131148|
+----+-----------------+

In [70]:
# adam:

(
weather
.withColumn('year',year('date'))
.groupBy('year')
.agg(sum('wind').alias('total_winds'))
# .agg(expr("max(wind)"))
.sort(col('total_wind')).desc()
# .select('avg_precip')
# .orderBy(F.desc('avg_precip')).limit(1)
.head()
)

AnalysisException: cannot resolve 'total_wind' given input columns: [total_winds, year];
'Sort ['total_wind ASC NULLS FIRST], true
+- Aggregate [year#1411], [year#1411, sum(wind#457) AS total_winds#1427]
   +- Project [date#453, precipitation#454, temp_max#455, temp_min#456, wind#457, weather#458, year(cast(date#453 as date)) AS year#1411]
      +- LogicalRDD [date#453, precipitation#454, temp_max#455, temp_min#456, wind#457, weather#458], false

### - What is the most frequent type of weather in January?

In [36]:
weather.show(3)

+----------+-------------+--------+--------+----+-------+
|      date|precipitation|temp_max|temp_min|wind|weather|
+----------+-------------+--------+--------+----+-------+
|2012-01-01|          0.0|    12.8|     5.0| 4.7|drizzle|
|2012-01-02|         10.9|    10.6|     2.8| 4.5|   rain|
|2012-01-03|          0.8|    11.7|     7.2| 2.3|   rain|
+----------+-------------+--------+--------+----+-------+
only showing top 3 rows

In [37]:
weather.withColumn(
    "temp_avg", expr("ROUND(temp_min + temp_max) / 2")
).drop("temp_max", "temp_min")
weather.show(3)

+----------+-------------+--------+--------+----+-------+
|      date|precipitation|temp_max|temp_min|wind|weather|
+----------+-------------+--------+--------+----+-------+
|2012-01-01|          0.0|    12.8|     5.0| 4.7|drizzle|
|2012-01-02|         10.9|    10.6|     2.8| 4.5|   rain|
|2012-01-03|          0.8|    11.7|     7.2| 2.3|   rain|
+----------+-------------+--------+--------+----+-------+
only showing top 3 rows

In [38]:
(
weather.filter(month("date") == 1)
.filter(year("date") == 2013)
.groupBy("weather")
.agg(count("weather"))
.sort(desc('count(weather)')).limit(1)
.show()
)


# good work

+-------+--------------+
|weather|count(weather)|
+-------+--------------+
|   rain|            16|
+-------+--------------+

### - What is the average high and low temperature on sunny days in July in 2013 and 2014?

In [39]:
(
weather.filter(col("weather") == 'sun')
.filter(month("date") == 7)
.filter(
    ((year("date") == 2014) 
      | (year('date')==2013))
        )
.agg(mean("temp_max"),mean('temp_min'))
# .select('temp_max', 'temp_min')
.show()
)

# i think this is it

+------------------+-----------------+
|     avg(temp_max)|    avg(temp_min)|
+------------------+-----------------+
|26.828846153846158|14.18269230769231|
+------------------+-----------------+

In [72]:
(26.82 * 9)/5 + 32
# just checking, i got it but in celsius

80.276

### - What percentage of days were rainy in q3 of 2015?

In [40]:
weather.show(2)

+----------+-------------+--------+--------+----+-------+
|      date|precipitation|temp_max|temp_min|wind|weather|
+----------+-------------+--------+--------+----+-------+
|2012-01-01|          0.0|    12.8|     5.0| 4.7|drizzle|
|2012-01-02|         10.9|    10.6|     2.8| 4.5|   rain|
+----------+-------------+--------+--------+----+-------+
only showing top 2 rows

In [60]:
(
weather.filter(col("weather") == 'rain')
.filter(year("date") == 2015)
.filter(
    quarter("date") == 3)
    .agg(count('weather')/weather.filter(quarter('date')==3)
         .filter(year('date')==2015).count())
    
    # .show()
).select(col('(count(weather) / 92)').alias('whatever')).show()

# good work, would like to alias it though...and...adam helped me get it
# notice how we have to define the query (we removed the .show) and re-select the resulting column
# (that was the (count(weather))), and then alias it and show it.

+--------------------+
|            whatever|
+--------------------+
|0.021739130434782608|
+--------------------+

- i also like adam's solution, where he created a 'rain' column with 1 or 0 value, ad got the mean of that
- `.select(when(col('weather') == 'rain', 1).otherwise(0).alias('rain'))`

### - For each year, find what percentage of days it rained (had non-zero precipitation).

In [42]:
weather.show(3)

+----------+-------------+--------+--------+----+-------+
|      date|precipitation|temp_max|temp_min|wind|weather|
+----------+-------------+--------+--------+----+-------+
|2012-01-01|          0.0|    12.8|     5.0| 4.7|drizzle|
|2012-01-02|         10.9|    10.6|     2.8| 4.5|   rain|
|2012-01-03|          0.8|    11.7|     7.2| 2.3|   rain|
+----------+-------------+--------+--------+----+-------+
only showing top 3 rows

In [43]:
from pyspark.sql.functions import *

In [59]:
(
weather
.filter(col("precipitation") > 0)
.groupBy(year('date')).count()
# .withColumn('year', year('date'))
# .pivot(year('year'))
.withColumn('percent_days_w_rain',(col('count')/365))
.show()
)

+----------+-----+-------------------+
|year(date)|count|percent_days_w_rain|
+----------+-----+-------------------+
|      2012|  177| 0.4849315068493151|
|      2013|  152|0.41643835616438357|
|      2014|  150|  0.410958904109589|
|      2015|  144|0.39452054794520547|
+----------+-----+-------------------+

In [73]:


# ###############################
# #### why can't i get .pivot() to work?
# ######################################



# (
# weather.withColumn('percent_days_w_rain',(weather.filter(((col('precipitation')>0)
#                                                         .groupBy(year('date')).count())
#                                                         /col('count')/365)))
#     .groupBy('count')
#     .pivot(year('date'))
#     .agg('percent_days_w_rain')
#     .show()
# )

# #.groupBy followed immediately by the pivot

In [ ]:
tips.withColumn("tip_percentage", col("tip") / col("total_bill")). \
groupby("sex").pivot("smoker").agg(mean("tip_percentage")).show()
# tip % for sex and smoker status