# ------------------------------------------------------------------------
## Exercise 1:

Within your `codeup-data-science` directory, create a new repo named `spark-exercises`. This will be where you do your work for this module. Create a repository on GitHub with the same name, and link your local repository to GitHub.

Save this work in your `spark-exercises` repo. Then add, commit, and push your changes.

Create a jupyter notebook or python script named `spark101` for this exercise.

Create a spark data frame that contains your favorite programming languages.

- Create a dataframe with one column named `language`
> Hint: Start with a pandas dataframe. Maybe use a dictionary?
- View the schema of the dataframe
- Output the shape of the dataframe
- Show the first 5 records in the dataframe

# ------------------------------------------------------------------------

In [1]:
import pyspark
import pandas as pd
import numpy as np
spark = pyspark.sql.SparkSession.builder.getOrCreate()

In [4]:
pandas_df= pd.read_json('repo_readmes_10_feb_am.json')
pandas_df = pandas_df.drop(columns = ['repo','readme_contents'])
pandas_df.head()

     language
0          C#
1  JavaScript
2         C++
3  JavaScript
4        None

In [7]:
df = spark.createDataFrame(pandas_df)

In [8]:
df.show(5)

+----------+
|  language|
+----------+
|        C#|
|JavaScript|
|       C++|
|JavaScript|
|      null|
+----------+
only showing top 5 rows

In [9]:
df.printSchema()

root
 |-- language: string (nullable = true)

In [10]:
print("DataFrame shape: ", df.count(), " x ", len(df.columns))

DataFrame shape:  180  x  1